<h1>Home</h1>
<p>HackID is intended to be a unified login for all things Hackers@Berkeley. Use it to access all H@B resources online, integrate it with your own projects through our API, etc. As Elon Musk has proved, not even the sky is the limit.</p>
