<h1>Red Teaming HackID</h1>
<p>Think you've got what it takes to pwn our system? Try your hand at it. We ask that you please refrain from deleting things (so-called rules of engagement), and if you get any passwords, please keep them to yourself and do not use them for any other uses than proof that you got in. Shoot an email to <a href="mailto:grizlo42@gmail.com">grizlo42@gmail.com</a> and we will put your name up on the wall of pwners -- created below once the first person gets in.</p>
<p>Please try your hand at both black-box and white-box techniques, as our source code for HackID is hosted on the githubz. Have fun hax0rz!</p>
